.App {
  text-align: center;
  margin: auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  animation: fade-in 2.5s linear
}

@keyframes fade-in {
  0% { opacity: 0;}
  90% { opacity: 0; transform: scale(100%) rotate(60deg)}
  95% { opacity: 50; transform: scale(170%) rotate(30deg) }
  100% {opacity: 100; transform: scale(100%) rotate(0deg)}
}

.calc-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: flex-end; */
}

.number-container {
  border: .1rem solid rgb(0, 79, 79);
  border-radius: .45rem;
  background-color: rgb(224, 255, 255);
  max-width: 50%;
  padding: 1.5rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.symbols-container {
  background-color: rgb(216, 252, 240);
  border: .1rem solid black;
  border-radius: .45rem;
  display: grid;
  gap: 2rem;
  margin-left: 2rem;
  padding: 1.5rem;
}

button {
  border-radius: 50%;
  margin: auto;
  width: 3rem;
  height: 3rem;
  font-size: xx-large;
  background-color: transparent;
  border: .1rem solid;
  border-color: rgb(0, 79, 79);
}

button:hover {
  transform: translate(.1rem, -.1rem);
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -43px -47px 2px -28px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, -43px -47px 2px -28px rgba(0,0,0,0);
}

button:active {
  background-color: rgb(244, 198, 244);
}

.vertical {
  margin-left: 2rem;
  margin-right: 0;
  border-radius: .2rem;
  height: 21rem;
}

.equation {
  font-size: xx-large;
  margin-top: 2rem;
}

.back {
  background-color: rgb(241, 87, 87);
  padding-right: 3rem;
  padding-left: .5rem
}

.clear {
  background-color: rgb(176, 108, 239);
}

.random {
  background-color: rgb(49, 240, 49);
}

.equals {
  background-color: rgb(173, 255, 50);
}


.bounce {

  font-size: xxx-large;

}

.bounce-right {
  padding-left: 2rem;
  animation: bounce-right 2.5s ease-in-out;
}

@keyframes bounce-right {
  0% {
    transform: translate(-60vw, 30vh) rotate(50deg) scale(10%);
  }
  70% {
    transform: translate(10vw, 10vh) rotate(-10deg) scale(550%);
  }
  75% {
    transform: translate(0, 0);
  }
}

.bounce-left {
  padding-right: 2rem;
  animation: bounce-left 2.5s ease-in-out;
}

@keyframes bounce-left {
  0% {
    transform: translate(60vw, 30vh) rotate(-50deg) scale(10%);
  }
  70% {
    transform: translate(-10vw, 10vh) rotate(10deg) scale(550%);
  }
  75% {
    transform: translate(0, 0);
  }
}