html {
  background-color: #f0f8ff;
}

.App {
  text-align: center;
  margin: auto;

  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(3, 39, 55, 0.75);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik Vinyl', cursive;
  font-size: xx-large;
}

.calculator {
  animation: fade-in 2.5s linear;
  display: flex;
  justify-content: center;
  background-color: rgba(3, 39, 55, .85);
  color: rgba(223, 238, 245, 0.67);
  /* border: .2px solid #05425C; */
  border-radius: .5rem;
  width: fit-content;
  padding: 2rem;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -4px 9px 21px 10px rgba(5,66,92,0.45); 
  box-shadow: 0px 10px 13px -7px #000000, -4px 9px 21px 10px #05425c73;
}

@keyframes fade-in {
  0% { opacity: 0;}
  90% { opacity: 0; transform: scale(100%) rotate(60deg)}
  95% { opacity: 50; transform: scale(170%) rotate(30deg) }
  100% {opacity: 100; transform: scale(100%) rotate(0deg)}
}

.calc-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-container {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 4px 1px rgba(5,66,92,0.67); 
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 4px 1px rgba(5,66,92,0.67);
  border-radius: .3rem;
  background-color: rgba(205, 240, 255, 0.67);
  max-width: 50%;
  padding: 1.5rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.symbols-container {
  background-color: rgba(205, 255, 205, 0.67);
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 4px 1px rgba(5,66,92,0.67); 
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 4px 1px rgba(5,66,92,0.67);
  border-radius: .3rem;
  display: grid;
  gap: 2rem;
  margin-left: 2rem;
  padding: 1.5rem;
}

button {
  border-radius: 50%;
  margin: auto;
  width: 3rem;
  height: 3rem;
  font-size: xx-large;
  background-color: transparent;
  border: .1rem solid;
  border-color: rgba(5,66,92,0.45);;
  color: rgba(3, 39, 55, 0.75);
}

button:hover {
  transform: translate(.1rem, -.1rem);
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -43px -47px 2px -28px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, -43px -47px 2px -28px rgba(0,0,0,0);
}

button:active {
  background-color: rgb(244, 198, 244);
}

.vertical {
  margin-left: 2rem;
  margin-right: 0;
  border-radius: .2rem;
  height: 21rem;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 4px 1px rgba(5,66,92,0.67); 
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 4px 1px rgba(5,66,92,0.67);
}

.equation {
  font-size: xx-large;
  margin-top: 2rem;
}

.back {
  background-color: rgba(250, 82, 141, 0.67);
  padding-right: 3rem;
  padding-left: .5rem
}

.clear {
  background-color: rgba(195, 74, 255, 0.67);
}

.random {
  background-color: rgba(108, 247, 182, 0.67);
}

.equals {
  background-color: rgba(248, 240, 105, 0.67);
}


.bounce {
  font-size: 5rem;
  color: black;
}

.bounce-right {
  margin-left: 2rem;
  animation: bounce-right 2.5s ease-in-out;
}

@keyframes bounce-right {
  0% {
    transform: translate(-60vw, 30vh) rotate(50deg) scale(10%);
  }
  70% {
    transform: translate(10vw, 10vh) rotate(-10deg) scale(550%);
  }
  75% {
    transform: translate(0, 0);
  }
}

.bounce-left {
  margin-right: 2rem;
  animation: bounce-left 2.5s ease-in-out;
}

@keyframes bounce-left {
  0% {
    transform: translate(60vw, 30vh) rotate(-50deg) scale(10%);
  }
  70% {
    transform: translate(-10vw, 10vh) rotate(10deg) scale(550%);
  }
  75% {
    transform: translate(0, 0);
  }
}

.wiggle {
  animation: wiggle 3s linear 3
}

@keyframes wiggle {
 0% {
  transform: rotate(0deg);
 }
 25% {
  transform: rotate(50deg);
 }
 50% {
  transform: rotate(0deg);
 }
 75% {
  transform: rotate(-50deg);
 }
 100% {
  transform: rotate(0deg);
 }
}