.App {
  text-align: center;
  margin: auto;
}

.calc-container {
  display: flex;
  justify-content: center;
}

.number-container {
  background-color: aqua;
  max-width: 50%;
  padding: 1.5rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

.symbols-container {
  background-color: aquamarine;
  display: grid;
  gap: 3rem;
  margin-left: 2rem;
  padding: 1.5rem;
}

button {
  border-radius: 50%;
  margin: auto;
  width: 3rem;
  height: 3rem;
  font-size: x-large
}
